%tr
  %td= payment.student.decorate.full_name
  %td= payment.amount
  %td= payment.paid_date
  %td= payment.paid_date.strftime("%B")
-#FIXME: ugly way to sorting by months need to be refactor using some king of mapper
