- breadcrumb :payments, payments
%table.table.table-condensed#payments
  %thead
    %tr
      %th= t('payments.columns.student_name')
      %th= t('payments.columns.amount')
      %th= t('payments.columns.date')
      %th.hidden &nbsp
  %tbody
    = render partial: payments